/*  Our Program*/
,
our_program {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 1 1 auto;
}
.our_program_container {
}
.our_program_container_row {
}
.header_our_program {
}
.p_our_program {
}
.coloumn2 {
}
